html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----------------------------------*/
body{
display: flex;
flex-direction: column;
justify-content: space-between;
}

.header
{
    background: #e7eeea;
    display: flex;
flex-direction: row;
justify-content: space-between;
color: #37523d;
padding-left: 47px;
padding-right: 47px;
}
.header ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
}
.header li{
padding-left: 15px;
}
.content
{
    
    margin: 0 auto;
    width: 600px;
    padding-top: 73px;
    font-size: 25px;
    margin-bottom: 50px;
}
.content *{
    padding-bottom: 25px;
}
.content h1{
    font-weight: bold;
}
.footer
{
    background: #37523d;
    color: white;
    line-height: 57px;
}
.footer ul
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
}
.footer li
{
    padding-left: 15px;
}
